/*ensures padding stays inside boxes instead of adding to their size*/
* { 
    box-sizing: border-box;
}
/*SETTINGS*/
html {
    --grey: rgb(32,32,34)
    --lightgrey: rgb(32,32,32)
}




/*STRUCTURE STYLES*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex:1;
}
 main {
    
    min-height: 100px;
    font-family: lato;
    
}

header, footer {
    border: 4px solid green;
    height:50px;
    font-family: lato;

}



inner-column {
    display: block;
    padding: 5px;
    background-color: rgb(32,32,34);
    color: white;
}

header-column {
}

graphic-dip {
    display: block;
    
}

/*TYPOGRAPHY*/

.about {
    font-size: 24px;
    margin-bottom: -30px;
    color: #fba92c;
}

.name {
    font-size: 55px;
    margin-bottom: -20px;
}

.whoami {
     font-size : 36px;
     margin-bottom: 50px;
}

.description {
    font-size : 20px;
    opacity: 50%;
}

.font {
    font-family: lato;
}

/*HEADER STYLES*/


/*ABOUT SECTION STYLES*/

graphic-dip about-text-content {
    display: block;
} 

about-text-content {
   padding: 140px 60px;
   margin: auto;
    
}

@media (min-width: 700px) {
    graphic-dip {
        display: flex;
        flex-direction: row;
    }
    graphic-dip  :is(about-text-content, picture) {
        flex-basis: 50%;
    }
}

picture {
    display: block;
}

img {
    display: block;
    width: 100%;
    height: auto;
}
    

/*PROJECTS SECTION STYLES*/

.graphic-dip project-borders {
    box-sizing: content-box;
    padding: 20px;
    max-width:70%;
   
}

/*toggle margin to adjust width*/

project-borders {
    box-sizing:border-box;
    display: block;
    padding: 0px auto;
    text-size-adjust: 100%;
    background-color: rgb(50, 50, 50); 
    
}


.ProjectA {
    border: 1px solid rgb(32, 32, 34);
    outline: 5px solid rgb(32,32,32);
    box-sizing: content-box;
    cursor: pointer;
    margin: 12px 8px 12x 12px;
    padding: 35px;
    font-family: lato;
    
}

.P-description {
letter-spacing: 3px;
font-weight: 800;
font-size: 13px;
}



.H3-description {
    opacity: 50%;
    font-size: 8px;

}

.PPP, .TDL{
    text-decoration: none;
    color: white;
    
}

/*CONTACT FORM STYLES*/

.Contact-title{
    color: #fba92c;
    margin-bottom: 10px;

}

.Contact-H{
    font-size: 42px;
    font-weight: 800;
}

.Contact-D{
    opacity: 50%;
    margin-top: -20px;
}

.contact  {
 display: block;

}

.contact-page-right {
    padding: 140px 60px;
    margin: auto;
    width: 49%;
    text-align:center;
    color: white;
    

}

.contact-page-left {
    padding: 140px 60px;
    margin: auto;

}

@media (min-width: 700px) {
    .contact {
        display: flex;
        flex-direction: row;
    }
    .contact  :is(.contact-page-left, .contact-page-left) {
        flex-basis: 50%;
    }
}


#formname, #formemail,#formsubject, #formmessage {
    font-size: 14px;
     width: 90%; 
     margin: 18px;
     padding: 12px 20px;
     box-sizing: border-box;
     line-height: 20px;
     border-radius: 8px;
     background-color: #686868;
}

#formmessage {
    padding: 12px 20px 100px 20px;
    border-radius: 10px;
}

.labelclass, .emailclass, .messageclass {
    text-align: start;
    display: block;
    box-sizing: border-box;
    padding: 12px 35px 0px ;
    margin-bottom: -10px;
    

}

.name-input, .email-input, .message-input {
    position: relative;

}

.icon {
    position: absolute;
    top: calc(60%);
    left: .9rem;
    padding-left: 2rem;
    margin-right: 5px;
}


/*SOURCE CODE PAGE STYLES*/

